@import 'src/styles/common';

:host {
  display: block;

  #app-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;

    main {
      width: 100%;
      flex-grow: 1;
      padding: 1rem;

      background: #abbaab;
      background: -webkit-linear-gradient(to bottom, $white, $gray);
      background: linear-gradient(to bottom, $white, $gray);
    }
  }

  .page {
    ::ng-deep {
      p {
        color: $darkGray;
      }
    }
  }


}