<div id="app-wrapper">
  <app-header></app-header>
  <app-navbar></app-navbar>
  <main>

    <app-recipe-page class="page">
      <!-- Recipes -->
      <app-recipe></app-recipe>
      <app-recipe-book></app-recipe-book>
      <app-recipe-detail></app-recipe-detail>
      <app-recipe-item></app-recipe-item>
      <app-recipe-list></app-recipe-list>
    </app-recipe-page>

    <app-shopping-page class="page">
      <!-- Shopping Lists -->
      <app-ingredient></app-ingredient>
      <app-shopping-list></app-shopping-list>
      <app-shopping-list-edit></app-shopping-list-edit>
    </app-shopping-page>

  </main>

  <app-footer></app-footer>
</div>