@import 'src/styles/common';

:host {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1rem;
  background: $redPink;
  box-shadow: 0 3px 5px rgba(0,0,0,0.25);

  h1 {
    color: $baseTan;
    font-size: 2rem;
  }

  p {
    padding: 0.5rem;
    color: $baseTan;
  }

  @media screen and (min-width: 600px) {
    h1 {
      font-size: 3rem;
    }
  }
}